*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
}

:root {
    --light-text: rgb(153, 153, 153);
    --bg: white;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    /* Standard */
    background-color: var(--bg);
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem 1rem;
    height: auto;
    width: 100%;
    max-width: 1300px;
    background-color: var(--bg);
    overflow-x: hidden;
}

#copy-message {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0rem 1rem;
    border-radius: 2rem;
    text-align: center;
    background: black;
    width: auto;
    height: 50px;
    position: fixed;
    top: 120vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    transition: all 0.1s linear;
}

#copy-message ion-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.slide-fade {
    top: 90vh !important;
}

#intro-wrapper {
    width: 100%;
    height: auto;
    padding: 3rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

nav {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
}

nav #palette-type {
    padding: 1rem 0rem;
    color: var(--light-text);
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 1.25rem;
}

nav #palette-type:hover, nav #palette-type:hover > ion-icon {
    color: black !important
}

nav #palette-menu {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transform: translateY(100%);
    border: solid 1px var(--light-text);
    border-radius: 3px;
    background-color: white;
    width: 230px;
    list-style: none;
    z-index: 100;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    color: black;
    cursor: pointer;
    font-size: 1.25rem;
}

nav ul li:hover {
    background-color: rgb(216, 216, 216);
}


#palettes {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 3rem 2rem;
}

.palette-wrapper {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.palette {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    aspect-ratio: 3 / 1;
    border-radius: 0.7rem;
    overflow: hidden;
}

.palette-color {
    position: relative;
    width: 20%;
    height: 100%;
    transition: all 0.1s linear;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-hexcode {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.1s linear;
    pointer-events: none;
}

.palette-color:hover,
.palette-color:focus {
    width: 40%;
}

.palette-color:hover>.color-hexcode,
 .palette-color:focus>.color-hexcode {
    opacity: 1;
}

.options-panel {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 0.25rem 0.75rem;
}

.options-panel ion-icon {
    color: var(--light-text); 
    width: 1.5rem; 
    height: 1.5rem;
    cursor: pointer;
}

#palette-information {
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(300px, 90vw, 400px);
    height: 500px;
    background-color: #160b1e;
    border-radius: 1rem;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.3);
    overflow: hidden;
}

#palette-information-header {
    position: relative;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#palette-information-header ion-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: black;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#palette-information-body {
    width: 100%;
    height: 70%;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#palette-information-body > div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#palette-information-body > div::after {
    content: attr(data-content);
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    opacity: 0;
    color: var(--light-text);
    font-weight: 600;
}

#palette-information-body > div:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#palette-information-body > div:hover::after {
    opacity: 1;
}

#palette-information-footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: white;
}

#palette-items-wrapper {
    display: flex;
    width: 90%;
    height: 50%;
    border-radius: 10px;
    overflow: hidden;
}

.palette-item {
    width: 100%;
    height: 100%;
}

#palette-item-selected {
    width: 15px;
    height: 15px;
    color: rgb(61, 61, 61);
    position: absolute;
    top: 50%;
    left: 14%;
    transform: translate(-50%, -50%);
    transition: left linear 0.1s;
    pointer-events: none;
}

.visible {
    visibility: visible !important;
    pointer-events: all !important;
}

@media screen and (max-width:900px) {
    #palettes {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
    }

    #intro-wrapper {
        padding: 3rem 0rem;
    }

    #intro-wrapper h1 {
        font-size: 3rem !important;
    }

    #intro-wrapper h3 {
        width: 70% !important;
        font-size: 1.5rem !important;
    }
}

@media screen and (max-width:500px) {
    #palettes {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto, 1fr);
    }

    #intro-wrapper h1 {
        font-size: 2.5rem !important;
    }

    #intro-wrapper h3 {
        width: 90% !important;
        font-size: 1.25rem !important;
    }
}